$BLACK:        #0C0E0F;

$BLACK_p2:      #505759;
$BLACK_p1:      #212629;
$BLACK_m1:      #050708;
$BLACK_m2:      #000203;

$BLACK_WHITE_FG: #0C0E0F;
$BLACK_WHITE_FG_SMALL: #0C0E0F;
$BLACK_GRAY_TEXT: #8898A3;
$BLACK_VAR_TEXT: #626270;
$BLACK_VAR_SMALL_TEXT: #858594;

$GRAY:         #8898A3;

$GRAY_p2:       #D1DEE8;
$GRAY_p1:       #A7B6C2;
$GRAY_m1:       #687782;
$GRAY_m2:       #3F4F57;

$GRAY_WHITE_FG: #73808A;
$GRAY_WHITE_FG_SMALL: #515A61;
$GRAY_GRAY_TEXT: #A7B6C2;
$GRAY_VAR_TEXT: #515D66;
$GRAY_VAR_SMALL_TEXT: #33424D;

$WHITE:        #FAFAFF;

$WHITE_p2:      #FEFEFF;
$WHITE_p1:      #FEFEFF;
$WHITE_m1:      #E6E3E1;
$WHITE_m2:      #B3ACA8;

$WHITE_BLACK_FG: #FAFAFF;
$WHITE_BLACK_FG_SMALL: #FEFEFF;
$WHITE_GRAY_TEXT: #8898A3;
$WHITE_VAR_TEXT: #ADA2A0;
$WHITE_VAR_SMALL_TEXT: #6E615E;

$RED:          #E02C50;
    
$RED_p2:        #FF969B;
$RED_p1:        #FF617B;
$RED_m1:        #FF5974;
$RED_m2:        #FF8086;

$RED_WHITE_FG: #E02C50;
$RED_WHITE_FG_SMALL: #B30030;
$RED_GRAY_TEXT: #212629;
$RED_VAR_TEXT: #300A10;
$RED_VAR_SMALL_TEXT: #210E11;

$YELLOW:       #FCC728;
    
$YELLOW_p2:     #FFFF94;
$YELLOW_p1:     #FFE557;
$YELLOW_m1:     #C28B13;
$YELLOW_m2:     #804C09;

$YELLOW_WHITE_FG: #B38809;
$YELLOW_WHITE_FG_SMALL: #705810;
$YELLOW_GRAY_TEXT: #687782;
$YELLOW_VAR_TEXT: #5C4000;
$YELLOW_VAR_SMALL_TEXT: #3D2700;

$GREEN:        #27CF6C;
    
$GREEN_p2:      #99FFB4;
$GREEN_p1:      #5CFF84;
$GREEN_m1:      #18A86E;
$GREEN_m2:      #077048;

$GREEN_WHITE_FG: #00894E;
$GREEN_WHITE_FG_SMALL: #00664D;
$GREEN_GRAY_TEXT: #3F4F57;
$GREEN_VAR_TEXT: #00422E;
$GREEN_VAR_SMALL_TEXT: #003027;

$BLUE:         #0B9EDD;

$BLUE_p2:       #78F1FF;
$BLUE_p1:       #2BCEFF;
$BLUE_m1:       #0077B3;
$BLUE_m2:       #004F87;

$BLUE_WHITE_FG: #007DBA;
$BLUE_WHITE_FG_SMALL: #005C95;
$BLUE_GRAY_TEXT: #3F4F57;
$BLUE_VAR_TEXT: #0C1F4A;
$BLUE_VAR_SMALL_TEXT: #081C45;

$PURPLE:       #CC45C9;
    
$PURPLE_p2:    #FFA6E9;
$PURPLE_p1:    #FF5EF6;
$PURPLE_m1:    #9B21A6;
$PURPLE_m2:    #6B0680;

$PURPLE_WHITE_FG: #B536B3;
$PURPLE_WHITE_FG_SMALL: #9D009C;
$PURPLE_GRAY_TEXT: #212629;
$PURPLE_VAR_TEXT: #480052;
$PURPLE_VAR_SMALL_TEXT: #2E0034;
