@import './reset.scss';
@import './colors.scss';
@import './fonts.scss';

:root {
    --clr-bg: #{$WHITE};
    --clr-fg: #{$BLACK};

    --clr-primary: #{$PURPLE};
    --clr-primary-p2: #{$PURPLE_p2};
    --clr-primary-p1: #{$PURPLE_p1};
    --clr-primary-m1: #{$PURPLE_m1};
    --clr-primary-m2: #{$PURPLE_m2};

    --clr-secondary: #{$GRAY};
    --clr-secondary-p2: #{$GRAY_p2};
    --clr-secondary-p1: #{$GRAY_p1};
    --clr-secondary-m1: #{$GRAY_m1};
    --clr-secondary-m2: #{$GRAY_m2};
}

@media (prefers-color-scheme: light) {
    html { content: 'light'; }
}
/*
@media (prefers-color-scheme: dark) {
    :root {
        --clr-bg: #{$BLACK};
        --clr-fg: #{$WHITE};
    }

    html { content: 'dark'; }
}
*/
html, body {
    font-family: $RALEWAY;
    font-size: 12pt;
    line-height: 1.25em;

    background: var(--clr-bg);
    color: var(--clr-fg);
}

body * {
    box-sizing: border-box;
}

@import './app/index.scss';
@import './core/buttons.scss';